[submodule "services/alpr"]
	path = services/alpr
	url = https://github.com/fayazhussain2821/Automatic-License-Plate-Recognition.git
[submodule "services/traffic-detection-yolo"]
	path = services/traffic-detection-yolo
	url = https://github.com/abrarCSE29/traffic-detection-yolo.git
[submodule "services/vehicle-mtmc"]
	path = services/vehicle-mtmc
	url = https://github.com/regob/vehicle_mtmc.git
[submodule "services/backend"]
	path = services/backend
	url = ../services/backend
